#loading {
  font-size: 1.25em;
  color: rgb(65, 65, 65);
  border-bottom: 1px solid black;
}

#no-task {
  font-size: 1.25em;
  color: rgb(157, 177, 194);
}

.icons {
  float: right;
  cursor: pointer;
}

.icon-remove {
  color: rgb(187, 8, 8);
}
