#todolist-loading {
  font-size: 1.25em;
  color: rgb(65, 65, 65);
  border-bottom: 1px solid black;
}

#todolist-no-task {
  font-size: 1.25em;
  color: rgb(157, 177, 194);
}

.todolist-icons {
  float: right;
  cursor: pointer;
}

.todolist-icon-remove {
  color: rgb(187, 8, 8);
}

.todolist-text-task {
  display: inline-block;
  word-break: break-word;
}
